*{
  background-color: #212a3d;
  color:white;

}

.button {
  position: relative;
  text-align: center;
  background: #0221387f;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #87d2f6;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.cell{
  animation-name: flip;
  animation-duration: 4s;
}

@keyframes flip {
  from { transform: rotateX(0deg)}
  to { transform: rotateX(360deg)}
}

